{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}

{% block content %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
        {% for field in form.visible_fields %}
        {% include 'form-mixins/form_field_widget.html' %}
        {% endfor %}
        {% include 'form-mixins/non_field_errors.html' %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
        <button class="button is-primary" type="submit">{% trans "Sign In" %}</button>
        <a class="button is-info" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <a class="button is-info" href="{% url 'account_signup' %}">{% trans "Sign up" %}</a>
    </form>

{% endblock %}